.input-label{
    color: #fff;
    font-size: 16px;
    font-family: 'Averta';
    word-wrap: break-word
}

.input-bg{
    background: linear-gradient(0deg, #e7e7eb00, #e7e7eb00), linear-gradient(0deg, rgba(242, 244, 251, 0.1), rgba(242, 244, 251, 0.1));
}