/* styles/TestimonialSlider.module.css */
.testimonialSliderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.testimonialSlider {
    width: 648px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.clientImages {
    width: 635px;
    height: 642px;
    position: relative;
}

.clientImages img {
    width: 224px;
    height: 224px;
    position: absolute;
    border-radius: 50%;
    border: 12px #38E0B2 solid;
    transition: border-color 0.3s ease;
}

.clientImages img.highlighted {
    border-color: #5825EB; /* Highlight color */
}
