@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-sm-font-medium: Inter;
  --heading-h3: "Abril Fatface";
  --caption-1-12px-regular: Poppins;

  /* font sizes */
  --heading-h5-size: 16px;
  --caption-1-12px-regular-size: 12px;
  --body-2-14px-semibold-size: 14px;
  --button-very-small-size: 10px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;
  --heading-h3-size: 20px;
  --heading-h1-size: 24px;
  --font-size-base-4: 16.4px;

  /* Colors */
  --primary-5: #f7f9ff;
  --bg: #f2f4fb;
  --neutrals-neutral-10: #e7e7eb;
  --color-gainsboro-100: #d9d9d9;
  --color-black: #000;
  --white: #fff;
  --primary-purple: #5825eb;
  --neutral-10: #eef2f7;
  --neutral-20: #e3eaf2;
  --neutral-70: #6789b7;
  --color-midnightblue-100: #101245;
  --primary-90: #051547;
  --alert-blue-10: #ccddff;
  --neutrals-neutral-0: #fcfdff;
  --neutrals-neutral-100: #0e0d35;
  --neutrals-neutral-50: #868599;
  --gray-500: #6b7280;
  --neutrals-neutral-60: #6e6e86;
  --neutrals-neutral-70: #575672;
  --color-lightskyblue: #99bcff;
  --alert-blue-100: #5b93ff;
  --alert-green-10: #d6ffef;
  --alert-green-50: #0ec37b;
  --alert-green-100: #00995c;
  --neutrals-neutral-90: #27264a;
  --neutrals-neutral-80: #3e3d5d;
  --gray-700: #374151;
  --alert-red-10: #ffe6e6;
  --alert-red-100: #ff5555;
  --alert-orange-10: #fceeda;
  --alert-orange-100: #dc8b13;
  --gradient-multi: #38e0b2;
  --neutrals-neutral-20: #cfcfd7;
  --primary-30: #8f7fe6;
  --neutrals-neutral-40: #9f9eae;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-4xl: 23px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-75xl: 94px;
  --gap-xs: 12px;
  --gap-4xs: 9px;
  --gap-mini: 15px;
  --gap-11xs: 2px;
  --gap-7xs: 6px;
  --gap-lgi: 19px;
  --gap-3xs: 10px;
  --gap-sm-5: 13.5px;
  --gap-21xl: 40px;
  --gap-2xs-9: 10.9px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-xl: 20px;
  --padding-16xl: 35px;
  --padding-11xs: 2px;
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-4xs: 9px;
  --padding-10xs-5: 2.5px;
  --padding-12xs: 1px;
  --padding-base: 16px;
  --padding-11xs-5: 1.5px;
  --padding-8xs-5: 4.5px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-mini: 15px;
  --padding-6xs-9: 6.9px;
  --padding-231xl: 250px;
  --padding-mid: 17px;
  --padding-4xl: 23px;
  --padding-7xl: 26px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-10xs-7: 2.7px;
  --padding-base-4: 16.4px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-mini: 15px;
  --br-sm-7: 13.7px;
  --br-base: 16px;
  --br-5xl: 24px;
  --br-81xl: 100px;
  --br-181xl: 200px;
  --br-24xl: 43px;
  --br-11xs: 2px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-2xl: 21px;
  --br-lg: 18px;
  --br-4xl-2: 23.2px;
  --br-mid: 17px;

  /* Effects */
  --drop-shadow: 0px 3px 24px rgba(196, 195, 247, 0.15);
  --nav-shadow: 0px 8px 48px rgba(98, 125, 221, 0.25);
  --dropdown: 2px 16px 19px rgba(0, 0, 0, 0.09);
}
