@import "tailwindcss";

body h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
small,
span,
button,
ul,
ol,
li,
a,
label,
input,
th,
td,
select,
textarea,
option,
div {
  font-family: Averta, sans-serif !important;
}

@theme {
  --color-white: #ffffff;
  --color-body: #64748b;
  --color-primary: #5925eb;
  --color-graydark: #333a48;
  --color-whiten: #f1f5f9;
  --color-whiter: #f5f7fd;
  --color-grayColor: #868599;
  --color-grayColor2: #82899b;
  --color-dm-blue: #0e0d35;
  --color-vivid-purple: #5825eb;
  --color-teal: #38e0b2;
  --color-ds-blue: #575672;
  --color-soft-lilac: #ede8fd;
  --color-light-lilac: #f2f4fb;
  --color-dl-gray: #868599;
  --color-light-purple: #7871f7;
  --color-lavender: #e7e7eb;
  --color-grayish-purple: #6e6e86;
  --color-lavender-gray: #cfcfd7;
  --color-rich-navy: #051547;
  --color-lavender-gray-2: #b7b7c3;
  --color-gray-blue-100: #9f9eae;
  --color-barely-peach: #ffe9c7;
  --color-pale-pink-100: #ffd7d7;
  --color-seafair-green: #aef7d3;
  --color-py-green: #f1f7ae;
  --color-gray-100: #f1f6ff;
  --color-warning-50: #dc8b13;
  --color-danger-50: #fb1e1e;
  --color-green-200: #d6ffef;
  --color-white-500: #fcfdffb2;
  --color-white-100: #fcfdff;
  --color-blue-200: #ccddff;
  --color-file-extension: #00c650;
  --color-light-orange: #ff5555;
  --color-dark-indigo-100: #3e3d5d;
  --color-accent-green: #00995c;
  --color-blush-100: #ffe5e5;
  --color-chat-green: #39f7ac;
  --color-profile-indicator: #079e62;
  --color-info-warning: #fceed9;
  --color-peach-100: #fceed9;
  --color-lightBlue: #ebf3fa;
  --color-failedColor: #ff5555;
  --color-neutral-gray: #d9d9d9;
  --color-silver-lining: #eef2f7;
  --color-bg-pdf-color: #ff3e4c;
  --color-vibrant-purple: #a321ee;
  --color-light-blue: #eaf1f8;
  --color-deep-indigo: #27264a;
  --color-blue-gray: #2b3f5a;
  --color-slate-700: #5d6f7d;
  --color-electric-indigo: #2b20e8;
  --color-blue-700: #005fad;
  --shadow-lavendar-card: 0px 3px 24px 0px #c4c3f726;
  --shadow-soft-blue: 0px 8px 48px 0px #627ddd40;
  --color-slate-gray: #6e6e8680;
  --color-blue: #4a6d9c;
}

:root {
  --color-primary: #5825eb;
  --color-body: #64748b;
  --color-primary: #5925eb;
  --color-graydark: #333a48;
  --color-whiten: #f1f5f9;
  --color-whiter: #f5f7fd;
  --color-grayColor: #868599;
  --color-grayColor2: #82899b;
  --color-dm-blue: #0e0d35;
  --color-vivid-purple: #5825eb;
  --color-teal: #38e0b2;
  --color-ds-blue: #575672;
  --color-soft-lilac: #ede8fd;
  --color-light-lilac: #f2f4fb;
  --color-dl-gray: #868599;
  --color-light-purple: #7871f7;
  --color-lavender: #e7e7eb;
  --color-grayish-purple: #6e6e86;
  --color-lavender-gray: #cfcfd7;
  --color-rich-navy: #051547;
  --color-lavender-gray-2: #b7b7c3;
  --color-gray-blue-100: #9f9eae;
  --color-barely-peach: #ffe9c7;
  --color-pale-pink-100: #ffd7d7;
  --color-seafair-green: #aef7d3;
  --color-py-green: #f1f7ae;
  --color-lavender-mist: #;
  --color-gray-100: #f1f6ff;
  --color-warning-50: #dc8b13;
  --color-danger-50: #fb1e1e;
  --color-green-200: #d6ffef;
  --color-white-500: #fcfdffb2;
  --color-white-100: #fcfdff;
  --color-blue-200: #ccddff;
  --color-file-extension: #00c650;
  --color-light-orange: #ff5555;
  --color-dark-indigo-100: #3e3d5d;
  --color-accent-green: #00995c;
  --color-blush-100: #ffe5e5;
  --color-chat-green: #39f7ac;
  --color-profile-indicator: #079e62;
  --color-info-warning: #fceed9;
  --color-peach-100: #fceed9;
  --color-lightBlue: #ebf3fa;
  --color-failedColor: #ff5555;
  --color-neutral-gray: #d9d9d9;
  --color-silver-lining: #eef2f7;
  --color-bg-pdf-color: #ff3e4c;
  --color-vibrant-Purple: #a321ee;
  --color-light-blue: #eaf1f8;
  --color-deep-indigo: #27264a;
  --color-blue-gray: #2b3f5a;
  --color-slate-700: #5d6f7d;
  --color-electric-indigo: #2b20e8;
  --color-blue-700: #005fad;

  --spacing-percentage-120: 120%;
}

body {
  background-color: #f2f4fb;
  min-height: 100vh;
}

.font-theme-bold {
  font-weight: 700;
}

.font-theme-medium {
  font-weight: 500;
}

.font-theme-medium-lg {
  font-weight: 600;
}

.font-theme-regular {
  font-weight: 400;
}

.font-theme-light {
  font-weight: 300;
}

.font-theme-lighter {
  font-weight: 200;
}

.font-theme-light-important {
  font-weight: 300 !important;
}

.theme-label {
  font-size: 12px;
  color: var(--color-primary);
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/src/assets/image/icons/dropdown-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 50%;
  background-size: 12px;
  font-size: 14px;
  padding: 10px;
  width: 100px;
}

.bg-primary {
  background: linear-gradient(
    98.24deg,
    #38e0b2 -18.55%,
    #442ae8 28.45%,
    #5925eb 64.63%,
    #9e21ee 116.94%
  ) !important;
}

.btn-primary {
  background: linear-gradient(
    98.24deg,
    #38e0b2 -18.55%,
    #442ae8 28.45%,
    #5925eb 64.63%,
    #9e21ee 116.94%
  ) !important;
  border: none !important;
  transition: background 0.4s ease, transform 0.2s ease !important;
  text-transform: uppercase !important;
}

/* .btn-primary-1 {
  background-color: #5825EB !important;
  color: white !important;
} */

.btn-primary:hover {
  background: linear-gradient(
    98.24deg,
    #442ae8 -18.55%,
    #5925eb 28.45%,
    #9e21ee 64.63%,
    #38e0b2 116.94%
  ) !important;
  transform: translateY(0px) !important;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2) !important;
}

.btn-primary:active {
  transform: translateY(2px) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.btn-outline-primary {
  background: transparent !important;
  border: 2px solid #442ae8 !important;
  color: #442ae8 !important;
  transition: background 0.4s ease, color 0.2s ease, transform 0.2s ease !important;
}

.btn-outline-primary:hover {
  background: linear-gradient(
    98.24deg,
    #38e0b2 -18.55%,
    #442ae8 28.45%,
    #5925eb 64.63%,
    #9e21ee 116.94%
  ) !important;
  color: #fff !important;
  border: none !important;
  transform: translateY(0px) !important;
}

.btn-outline-primary:active {
  transform: translateY(0px) !important;
}

.text-primary {
  color: #5825eb !important;
}

.border-primary {
  border: 1px solid #5825eb !important;
}

.cursor-pointer {
  cursor: pointer;
}

.small-font {
  font-size: 12px !important;
}

#example_wrapper .dt-length,
#example_wrapper .dt-info {
  display: none;
}
#example_wrapper .top {
  display: none;
}
#example_wrapper .bottom {
  float: right;
  margin: 0;
}

.pagination {
  margin-bottom: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#example_wrapper .pagination .dt-paging-button button {
  background: transparent !important;
  border: none !important;
}

#example_wrapper .pagination .dt-paging-button.page-item.active button {
  background: #5825eb !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 10px !important;
}

.custom-datatable .p-datatable-table .p-datatable-thead tr {
  background-color: var(--color-light-lilac) !important;
}

.custom-datatable .p-datatable-table .p-datatable-thead .p-datatable-header-cell {
  background-color: transparent;
  color: #6E6E86;
}

.custom-datatable .p-datatable-table .p-select {
  min-width: 140px;
  max-width: 140px;
  border: none;
  border-radius: 12px;
  box-shadow: none;
}
.custom-datatable .p-datatable-table .p-select .p-select-label {
  color: inherit;
}

.custom-datatable .p-datatable-paginator-bottom {
  border: none;
  border-width: 0 !important;
  padding-top: 10px;
}
.custom-datatable .p-paginator-content {
  width: 100%;
}

.custom-datatable .p-paginator-content .p-select {
  margin-right: auto;
  border-width: 0;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 700;
}

.custom-datatable .p-checkbox-checked .p-checkbox-box {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-datatable .p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.custom-datatable .p-datatable-tbody > tr > td {
  border-width: 0;
}

/* Pagination container */
.custom-datatable .p-paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Page buttons */
.custom-datatable .p-paginator .p-paginator-pages .p-paginator-page {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 600;
  color: #6c757d;
  background: transparent;
  transition: all 0.3s;
  border: none;
}

/* Active Page */
.custom-datatable .p-paginator .p-paginator-pages .p-highlight {
  background: #5a30f5 !important;
  color: #fff !important;
}

/* Previous & Next Buttons */
.custom-datatable .p-paginator .p-paginator-prev,
.custom-datatable .p-paginator .p-paginator-next {
  color: #6c757d;
  font-weight: 600;
  border: none;
  background: transparent;
}

/* Disabled Buttons */
.custom-datatable .p-paginator .p-disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Entries dropdown */
.custom-datatable .p-dropdown {
  border: none;
  font-weight: bold;
}

.custom-datatable .p-paginator-page {
  color: #868599 !important;
  width: 45px;
  height: 45px;
}

.custom-datatable .p-paginator-page.p-paginator-page-selected {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.p-select-list-container .p-select-option-selected {
  background-color: #E7E7EB !important;
  color: #5825EB !important;
  font-weight: 700;
}

.p-select-list-container .p-select-list {
  padding: 1rem;
}
.p-select-list-container {
  border-radius: 1rem;
  max-height: 100% !important;
  min-width: 200px !important;
}
.p-select-overlay {
  border-radius: 16px !important;
}

.bg-gradient-primary {
  background: linear-gradient(95.35deg, #396cf1 24.64%, #39c5f1 74.69%);
}
