body h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
small,
span,
button,
ul,
ol,
li,
a,
label,
input,
th,
td,
select,
textarea,
option,
div {
  font-family: Averta, sans-serif !important;
}

body {
  background-color: #f2f4fb;
}

.bg-primary {
  background: linear-gradient(
    98.24deg,
    #38e0b2 -18.55%,
    #442ae8 28.45%,
    #5925eb 64.63%,
    #9e21ee 116.94%
  ) !important;
}

.btn-primary {
  background: linear-gradient(
    98.24deg,
    #38e0b2 -18.55%,
    #442ae8 28.45%,
    #5925eb 64.63%,
    #9e21ee 116.94%
  ) !important;
  border: none !important;
  transition: background 0.4s ease, transform 0.2s ease !important;
  text-transform: uppercase !important;
}

.btn-primary:hover {
  background: linear-gradient(
    98.24deg,
    #442ae8 -18.55%,
    #5925eb 28.45%,
    #9e21ee 64.63%,
    #38e0b2 116.94%
  ) !important;
  transform: translateY(-3px) !important;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2) !important;
}

.btn-primary:active {
  transform: translateY(2px) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.btn-outline-primary {
  background: transparent !important;
  border: 2px solid #442ae8 !important;
  color: #442ae8 !important;
  transition: background 0.4s ease, color 0.2s ease, transform 0.2s ease !important;
}

.btn-outline-primary:hover {
  background: linear-gradient(
    98.24deg,
    #38e0b2 -18.55%,
    #442ae8 28.45%,
    #5925eb 64.63%,
    #9e21ee 116.94%
  ) !important;
  color: #fff !important;
  border: none !important;
  transform: translateY(-3px) !important;
}

.btn-outline-primary:active {
  transform: translateY(2px) !important;
}

.text-primary {
  color: #5825eb !important;
}

.primary-bg {
  background-color: #7871f7 !important;
}

.text-bg-primary {
  background-color: #a321ee !important;
}

.border-primary {
  border: 1px solid #5825eb !important;
}

.cursor-pointer {
  cursor: pointer;
}

.small-font {
  font-size: 12px !important;
}
